html {
    height: 100%;
}

body {
    color: #000;
    margin: 0px;
    font-family: helvetica;
    min-width: 1200px;
    height: 100%;
}

a, a:visited {
    text-decoration: none;
}

div#container {
    background-color: #E5E5E5;
    min-height:100%;
    position:relative;
}

div#header {
    width: 100%;
    height: 26px;
    background-color: #323232;
    border-bottom: 4px solid #33B5E5;
}

div.header_text,
div.header_text a {
    font-size: 18px;
    color: #EEE;
    padding: 2px 0px 0px 5px;
    text-decoration: none;
}

div#menu {
    display: table;
    background-color: #DDD;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #CCC;
    box-shadow: 0px 1px 5px rgba(0,0,0,.1);
}

div.menu_row {
    display: table-row;
}

div.menu_cell {
    display: table-cell;
    vertical-align: middle;
    height: 32px;
    padding-left: 5px;
    color: #444;
    text-decoration: none;
}

div.left {
    float: left;
}

div.right {
    float: right;
}


.small_menu_button {
    padding-right: 30px;
    background: url(img/small_menu_holo.png) no-repeat;
}

#small_menu {
    display: none;
}
#small_menu.show {
    background-color: #DDD;
    border: 1px solid #CCC;
    box-shadow: 0px 2px 4px rgba(0,0,0,.2);
    display: block;
    right: 1%;
    position: absolute;
    overflow: auto;
    padding: 5px;
}

div.small_menu_row {
    display: table-row;
}

div.small_menu_cell {
    display: table-cell;
    height: 20px;
    font-size: 14px;
}

div.small_menu_title {
    font-size: 18px;
    color: #555;
}

hr {
    color: #33B5E5;
    background-color: #33B5E5;
    height: 1px;
    border: 0px;
}

input#from_calendar,
input#until_calendar {
    border: solid 1px #CCC;
    font-size: small;
    padding: 5px;
    width: 130px;
}

button {
    border: 0px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0,0,0,.2);
    background-color: #33B5E5;
    width: 40px;
    height: 25px;
    color: white;
    font-size: small;
    font-weight: bold;
    margin: 0px 5px 0px 5px;
}

select {
#    padding-left: 0.5em;
    width: 120px;
#    height: 32px;
    font-size: small;
    padding: 5px;
    border: solid 1px #CCC;
    color: black;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 0.0em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.select:before {
    border-right: 8px solid #888888;
    border-top: 8px solid transparent;
    content: "";
    position: absolute;
    left: 90%;
    bottom: 15%;
}

.select {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 32px;
}

div#main {
    padding: 0px 10px 20px 10px;
}

div.block_title,
div.block_title a {
    color: #33B5E5;
    margin: 10px 0px 5px 0px;
    font-weight: bold;
    font-size: 25px;
}

div.banner_text,
div.banner_text a {
    color: #9A9A9A;
    font-weight: 300;
    background: #FFF;
    padding: 5px;
    border-bottom: 1px solid #D1D1D1
}

div.graph_block {
    padding-left: 10px;
}

div.graph_card {
    background-color: #FFF;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0,0,0,.2);
    margin: 5px 5px 5px 0px;
    padding: 3px;
}

div.graph_img {
}

div.graph_buttons {
    float: right;
    margin-right: 5px;
}

div#footer {
    width: 100%;
    bottom: 0;
    height: 20px;
    position: absolute;
    text-align: center;
    font-size: 11px;
    color: #888;
}

div#footer a{
    color: #888;
    font-weight: bold;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
.ui-datepicker-trigger { vertical-align: middle; }

