html {
    height: 100%;
}

body {
    color: #000;
    margin: 0px;
    font-family: helvetica;
    width: 100%;
    height: 100%;
}

a, a:visited {
    text-decoration: none;
    color: #33B5E5;
}
a img {border: none; }

.anchor {
    display: block;
    height: 45px;
    margin-top: -45px;
    visibility: hidden;
}

#container {
    background-color: #E5E5E5;
    min-height:100%;
    overflow-x: hidden;
}

#top {
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
}

#header {
    width: 100%;
    height: 26px;
    background-color: #323232;
    border-bottom: 4px solid #33B5E5;
}

.header_text,
.header_text a {
    font-size: 18px;
    color: #EEE;
    padding: 1px 0px 0px 5px;
    text-decoration: none;
    float: left;
}

#menu {
    display: table;
    background-color: #DDD;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #CCC;
    z-index: 101;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    border-top: 0;
}

#index_button {
    display: none;
}

#selection_menu {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    color: #444;
    text-decoration: none;
    float: left;
}

#from_menu_cell,
#until_menu_cell,
#date_sep_menu_cell,
.selection_menu_cell,
.menu_cell {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    padding-left: 2px;
    color: #444;
    text-decoration: none;
}
.selection_menu_gt_cell {
    display: table-cell;
    vertical-align: middle;
    height: 38px;
    color: #444;
    text-decoration: none;
}
#date_sep_menu_cell {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

#menu-checkbox {
    display: none;
}

.small_menu_button {
    padding: 10px 35px 10px 0px;
    background: url(img/small_menu_holo.png) no-repeat;
    background-position: 0% 50%;
    background-size: 30px 30px;
}

#small_menu {
    display: none;
}
#small_menu.show {
    background-color: #E8E8E8;
    border: 1px solid #CCC;
    box-shadow: 0px 2px 4px rgba(0,0,0,.2);
    display: block;
    right: 1%;
    position: absolute;
    overflow: auto;
    padding: 5px;
}

.small_menu_row {
    display: table-row;
}

.small_menu_cell {
    display: table-cell;
    height: 20px;
    font-size: 14px;
}

.small_menu_title {
    font-size: 18px;
    color: #555;
}

hr {
    color: #33B5E5;
    background-color: #33B5E5;
    height: 1px;
    border: 0px;
}

input#from_calendar,
input#until_calendar {
    border: solid 1px #CCC;
    font-size: small;
    padding: 5px;
    width: 125px;
}

#go_button {
    border: 0px;
    width: 30px;
    height: 25px;
    margin: 0px 5px 0px 5px;
    padding: 0px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0,0,0,.2);
    background-color: #33B5E5;
    color: white;
    font-size: small;
    font-weight: bold;
}

select {
    width: 120px;
    vertical-align: middle;
    font-size: small;
    padding: 5px;
    border: solid 1px #CCC;
    color: black;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 0.0em;
    -moz-appearance: none;
    -webkit-appearance: none;
}
select::-ms-expand {
    display: none;
}

.select:before {
    border-right: 8px solid #888888;
    border-top: 8px solid transparent;
    content: "";
    position: absolute;
    left: 110px;
    bottom: 10px;
}

.select {
    display: table-cell;
    vertical-align: middle;
    padding: 2px;
    height: 38px;
    position: relative;
}

#main {
    padding: 10px 10px 20px 10px;
}

.block_title,
.block_title a {
    color: #33B5E5;
    margin: 5px 0px 5px 0px;
    font-weight: bold;
    font-size: 25px;
}

.banner_text,
.banner_text a {
    color: #9A9A9A;
    font-weight: 300;
    background: #FFF;
    padding: 5px;
    border-bottom: 1px solid #D1D1D1
}

.graph_block {
    padding: 10px 0px 10px 0px;
}

.graph_card {
    background-color: #FFF;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0,0,0,.2);
    margin: 5px 3px 5px 3px;
    padding: 3px;
}

.graph_img {
}

.graph_buttons {
    float: right;
    margin-right: 5px;
}

.graph_name {
    float: left;
    color: #FFF;
    font-size: 5px;
}

#footer {
    background-color: #E5E5E5;
    width: 100%;
    height: 20px;
    position: absolute;
    text-align: center;
    font-size: 11px;
    color: #888;
}

#footer a{
    color: #888;
    font-weight: bold;
}

/* css for timepicker */
#ui-datepicker-div { width: 200px; box-shadow: 0px 2px 4px rgba(0,0,0,.2); }
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 3px 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-timepicker-select { padding: 2px; width: 100%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui_tpicker_time { margin: 7px 10px 10px 68px; padding-top: 4px; }
.ui-datepicker-trigger { vertical-align: middle; }

/* CSS adjustments for "mobile" screens */
@media screen and (max-width: 1024px) {
    #top {
        height: 42px;
    }
    #header {
        display: none;
    }
    #menu {
        position: fixed;
    }
    #overlay {
        visibility: hidden;
        opacity: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.7);
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        -webkit-transition: visibility 0s 0.5s, opacity 0.3s linear;
        transition: visibility 0s 0.5s, opacity 0.3s linear;
    }

    input#from_calendar,
    input#until_calendar {
        width: 100px;
    }

    #from_menu_cell,
    #until_menu_cell {
        display: none;
    }
    #date_sep_menu_cell {
        display: table-cell;
    }

    .selection_menu_cell {
        display: inline-block;
    }

    .selection_menu_gt_cell {
        display: none;
    }

    #selection_menu {
        position: fixed;
        height: 100%;
        top: 42px;
        left: 0px;
        z-index: 101;
        visibility: hidden;
        width: 180px;
        padding: 10px;
        color: black;
        background-color: #323232;
        font-size: 20px;
        line-height: 25px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    #index_button {
        display: inline;
        border: none;
        float: left;
        height: 40px;
        width: 20px;
        left: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-color: transparent;
        background-image: url("img/menu_button.png");
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #index_button:checked,
    #index_button:focus {
        outline: none;
    }
    #menu-checkbox:checked ~ div form div#selection_menu {
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    #menu-checkbox:checked ~ div label button#index_button {
        position: relative;
        left: -7px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #menu-checkbox:checked ~ #overlay {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
    }

    select {
        width: 160px;
        height: 35px;
    }
    .select:before {
        left: 150px;
    }

    .graph_block {
        text-align: center;
    }
}


